# Il file 50-server.cnf è un file di configurazione per il server MariaDB, 
# che viene utilizzato per impostare varie opzioni di configurazione del database.
# Questo file contiene configurazioni specifiche per il server MariaDB, come la 
# configurazione delle porte, le impostazioni di buffer, le dimensioni delle cache, 
# i limiti sulle connessioni, e altre opzioni di performance e sicurezza.

# Noi qui ne faremo una versione semplificata

# NOTA: Il "server MariaDB" si riferisce al software che esegue e gestisce il database. 
#       È responsabile dell'elaborazione delle query, della gestione delle connessioni 
#       degli utenti, della sicurezza dei dati e dell'ottimizzazione delle prestazioni.

[mysqld]

# Specifica la directory dove MariaDb salverà i dati.
# Se non monti un volume persistente per questa directory, 
# i dati verranno persi quando il container viene ricreato.
datadir = /var/lib/mysql

# socket: Specifica il socket UNIX per le connessioni locali. 
# Va bene se utilizzi connessioni interne al container.
socket  = /run/mysqld/mysqld.sock

# bind_address: specifica l'indirizzo IP a cui il server si "lega" per accettare connessioni.
# Con * consenti connessioni da qualsiasi indirizzo e lo faccio
# per consentire la connessione con gli altri container presenti
bind_address=*

# pecifichiamo le porte su cui il server MariaDB deve ascoltare le connessioni
# NOTA: Questa non è la stessa porta che andrò a specificare con il campo "expose" nel dockercompose.
#       Qui sto specificando la porta del server Mariadb, mentre nel dockercompose sto specificando
#       la porta del container per connettermi con gli altri presenti
port = 3306

# user: Imposta l'utente che esegue il processo MariaDB all'interno del container
user = mysql

# Specifica il percorso del file PID (Process ID) che MariaDB crea all'avvio
pid-file                = /run/mysqld/mysqld.pid
